midieditor.pro.user
doxy/
.qmake.stash
ProMidiEdit-*/
releases/

#local 
.tmp
*.o
Makefile
*.Debug
*.Release
release/**
bin/

packaging/Install.exe
packaging/org.midieditor.midieditor/data/**
packaging/org.midieditor.manual/data/**