midieditor.pro.user
build/
doxy/
.qmake.stash
.xmake/
ProMidiEdit-*/
releases/

#local 
.tmp
*.o
Makefile
*.Debug
*.Release
release/**
bin/
.vscode/

packaging/Install.exe
packaging/org.midieditor.midieditor/data/**
packaging/org.midieditor.manual/data/**