<?xml version="1.0"?>
<Installer>
    <Name>ProMidEdit</Name>
    <Version>3.5.0</Version>
    <Title>ProMidEdit Setup</Title>
    <Publisher>jingkaimori</Publisher>
    <ProductUrl>https://github.com/jingkaimori/midieditor</ProductUrl>
    <InstallerWindowIcon>package.png</InstallerWindowIcon>
    <Logo>midieditor.png</Logo>
    <RunProgram>@TargetDir@/ProMidEdit.exe</RunProgram>
    <RunProgramArguments>
    </RunProgramArguments>
    <RunProgramDescription>run midieditor</RunProgramDescription>
    <StartMenuDir>ProMidEdit</StartMenuDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>

    <TargetDir>@HomeDir@/ProMidEdit</TargetDir>
    <AdminTargetDir>@RootDir@/ProMidEdit</AdminTargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>https://jingkaimori.github.io/midieditor/repository</Url>
            <Enabled>1</Enabled>
            <DisplayName>Github repository</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>